/* 
 *   Made by Noah Geren for CSC 365 Fall 2019.
 */
 
 footer {
 	max-height: 10vh;
 }
 
 div.container-fluid {
 	padding-bottom: 15vh;
 }
 
 .feather-trash-2, .feather-x-circle {
 	stroke: red;
 }

.feather-trash-2:hover {
	stroke: #b90000;
	cursor: pointer;
}

.feather-edit{
	stroke: cornflowerblue;
}

.feather-edit:hover {
	stroke: #4e84e4;
}

.feather:hover, .btn:hover, img.book-cover:hover {
	transform: scale(1.05)
}

.feather-check-circle {
	stroke: green;
}

.feather-check-circle, .feather-x-circle {
	width: 32px;
	height: 32px;
}

.feather-plus {
	width: 15px;
	height: 15px;
	stroke-width: 4;
}

.table td, .table th {
	max-width: 20vw;
	vertical-align: middle;
}

.book-cover {
	height: 15vh;
	width: calc(15vh * 0.69);
}

.table th {
	border-top: 0;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	
	.table, .table thead, .table tbody, .table th, .table td, .table tr { 
		display: block;
		margin: 0;
		max-width: 100%;
		width: 100%;
	}
	
	.table thead th {
		border-bottom: 0;
	}
	
	.table thead th:not(:first-child) {
		border-top: 1px solid #dee2e6;
	}
	
	.table tr { 
		border-bottom: 2px solid #aaa; 
	}
	
	.table tbody tr:last-of-type {
		border-bottom : 0;
	}
}